<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Resolutions</h1>
      <app-generatePDF-unrouted [data]="allContent"></app-generatePDF-unrouted>
      <table class="table table-bordered table-striped mt-4">
        <thead>
          <tr>
            <th>ID</th>
            <th>ID Issue</th>
            <th>Observations</th>
            <th>Integrations turn</th>
            <th>Integrations datetime</th>
            <th>Pullrequest URL</th>
            <th>ID Developer</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resolution of this.getPageContent()">
            <td>{{resolution.id}}</td>
            <td>{{resolution.issue.id}}</td>
            <td>{{resolution.observations}}</td>
            <td>{{resolution.integration_turn}}</td>
            <td>{{resolution.integration_datetime}}</td>
            <td>{{resolution.pullrequest_url}}</td>
            <td>{{resolution.developer.id}}</td>
            <td>{{resolution.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>